@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');
/* font-family: 'Raleway', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------header section----------  */

ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-section{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header-section .container{
   display: flex;
   justify-content: space-between;
   padding: 36px;
   margin-bottom: 1px solid ;
}
.navbar nav ul{
    display: flex;

}
.navbar nav ul li a{
    padding: 0 30px ;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.navbar nav ul li:last-of-type a{
    padding-right: 0 ;
}


/* --------- banner section------------ */

.banner-section{
    background-image: url(./images/banner\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-section .container{
    padding-top: 260px;
    padding-bottom: 155px;
}
.banner-section .container h1{
    font-size: 65px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 0 80px;
}
.banner-section .container p{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Raleway', sans-serif; 
    margin-top: 46px ;
    margin-bottom: 80px;
    text-align: center;
    padding: 0 120px;
}
.banner-section .container .button {
    display: flex;
    justify-content: center;
}
.banner-section .container .button a{
    background-color: #E74545;
    color: #ffffff;
    padding: 19px 54px;
    border-radius: 4px ;

}

/* ------------features section---------- */

.feature-section .container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    padding-top: 142px;
    padding-bottom: 125px;
    row-gap: 75px;
}
.feature-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-item h3{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 33px;
    margin-bottom: 22px;
}
.feature-item p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    
}

/* --------gallery section---------- */

.gallery-section{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1px;
    justify-content: space-between;
}
.gallery-item{
    width: calc(25% - 1px);
    min-height: 320px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gallery-item-text{
    z-index: 10;
    font-family: 'Raleway', sans-serif;
}
.gallery-item-text h3{
    text-align: center;
    transition: 0.5s;
    font-weight: bold;
    font-size: 14px;
    color: transparent;
}
.gallery-item-text p{
    text-align: center;
    transition: 0.5s;
    font-size: 14px;
    color: transparent;
}

.gallery-item:hover .gallery-item-text h3{
    color: #ffffff;
}
.gallery-item:hover .gallery-item-text p{
    color: #ffffff;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: 0.5s;
}
.gallery-item:hover .overlay{
    background-color: rgba( 232, 69, 69, 0.9);
}
.gallery-item-1{
    background-image: url(./images/works1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-item-2{
    background-image: url(./images/works2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-item-3{
    background-image: url(./images/works3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-item-4{
    background-image: url(./images/works4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-item-5{
    background-image: url(./images/works5.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-item-6{
    background-image: url(./images/works6.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-item-7{
    background-image: url(./images/works7.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-item-8{
    background-image: url(./images/works8.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/* ---------team section------------ */
.team-section .container{
    display: flex;
    margin-top: 100px;
    
 }
 .team-section .container .team{
    padding: 0 15px;
 }
 .team-section .container .team h2{
    color: #2d3033;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 30px;
 }
 
 .team-section .container .team h4{
     color: #e84545;
     font-family: 'Raleway', sans-serif;
     font-size: 13px;
     margin-top: 16px;
     margin-bottom: 30px;
 }
 
 .team-section .container .team p{
     color: #6c7279;
     font-family: 'Raleway', sans-serif;
     font-size: 14px;
     padding-bottom: 30px;
 }
 .team-section .container .team .social-icon{
    display: flex;
    column-gap: 5px;
    padding-bottom: 100px;
 }
.team-section .container .team .social-icon a{
    color: #a3a4a4;
}
 .team-section .container .team .social-icon .icon1{
    border: 1px solid #d4d4d4;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
 }
 .team-section .container .team .social-icon .icon2{
    border: 1px solid #E7EBED;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .team-section .container .team .social-icon .icon3{
    border: 1px solid #E7EBED;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

